.places__paragraph {
  width: 100%;
  min-width: 320px;
  margin: 0 0 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%; /* or 29px */
  color: #ffffff;
}

@media screen and (max-width: 730px) {
  .places__paragraph {
    max-width: 320px;
    font-size: 17px;
    line-height: 163%;
  }
}

@media screen and (max-width: 560px) {
  .places__paragraph {
    max-width: 320px;
    font-size: 16px;
    line-height: 163%;
  }
}
