.places__paragraph {
  width: 100%;
  min-width: 320px;
  margin: 0 0 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%; /* or 29px */
  color: #ffffff;
}

.places__paragraph:last-child{
  margin: 0;
}

@media screen and (max-width: 768px) {
  .places__paragraph {
    font-size: 16px;
    margin: 0 0 25px;
  }
}

@media screen and (max-width: 400px) {
  .places__paragraph{
    padding: 0 16px;
    box-sizing: border-box;
  }
}
