.header__lang-link {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2; /* 28px; */
  text-decoration: none;
  color: #ffffff;
  transition: opacity 0.3s ease-in-out;
}

.header__lang-link:first-child {
  margin-right: 18px;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 92%;
  }
}
