.page {
  max-width: 1280px;
  min-width: 320px;
  min-height: 100vh;

  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 28px 0 24px;
}
