@import url(../vendor/normalize.css);

/* fonts */
@import url(./fonts/inter.css);

.page {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  /* мобильный экран */
  /* min-width: 320px; */
  /* максимальный экран по макету - 1280*/
  /* max-width: 1280px; */
  margin: 0 auto;
}

.page_theme_dark {
  background-color: #2a2c2f;
}

/* HEADER */
.header {
  width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  padding: 28px 0 56px;
  box-sizing: border-box;
}

.header__logo {
  width: 176px;
  height: 52px;
  align-self: center;
}

.header__lang-link {
  width: 30px;
  height: 28px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #ffffff;
}

.header__lang-link:first-child {
  margin-right: 18px;
}

/* модификатор смены языка */
.header__lang-link_active {
  text-decoration: underline;
}

.content {
  /* display: flex;
  justify-content: center;
  margin: 0 auto; */
}

/* LEAD */
.lead {
  width: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.lead__title {
  margin: 0;
  width: 720px;
  height: 200px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
}

.lead__subtitle {
  margin: 32px 0 64px;
  width: 640px;
  height: 72px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.lead__image {
  width: 984px;
  height: 615px;
}

.lead__image-caption {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-top: 8px;
  color: #ffffff;
}

/* INTRO */
.intro {
  width: 984px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}

.intro__content {
  max-width: 690px;
  margin-bottom: 92px;
}

.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #ffffff;
  margin: 92px 0 40px;
}

.intro__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 163%; /* or 26px */
  color: #ffffff;
  margin: 40px 0 44px;
}

.intro__list {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px; /* or 150% */
  list-style: none;
  color: #ffffff;
  padding: 0;
  margin-top: 44px;
}

/* GALLERY */
.photo-grid {
  max-width: 1184px;
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 0 auto 92px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.photo-grid__item {
  width: 100%;
  object-fit: cover;
  height: auto;
}

/* PLACES */

.places {
  max-width: 984px;
  margin: 0 auto;
}

.place {
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 460px));
  grid-template-rows: repeat(2, auto);
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 5rem;
}

.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  color: #ffffff;
}

.place__image {
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

.place__description {
  display: flex;
  flex-direction: column;
}

.place__paragraph {
  margin: 0 0 26px;
  max-width: 484px;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%; /* or 29px */
  color: #ffffff;
}

.place__paragraph-url {
  align-self: end;
}

.place__paragraph-url:hover {
  cursor: pointer;
}

.place__paragraph-url-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaaaaa;
}

.place__paragraph-url-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px; /* identical to box height, or 122% */
  text-decoration-line: underline;
  color: #ffffff;
}

.place__website {
  color: #ffffff;
  margin: 0;
}

.cover {
  max-width: 1184px;
  min-width: 740px;
  display: grid;
  position: relative;
  justify-content: center;
  height: 740px;
  min-height: 200px;
  margin: 0 auto;
  text-decoration: none;
}

.cover::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #2A2C2F;
  opacity: .3;
}

.cover:hover::before {
  opacity: .8;
}

  .cover__background{
  background-image: url(./images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

.cover__container {
  margin: auto;
  align-self: center;
  justify-self: center;
  z-index: 2;
}

.cover__title {
  max-width: 560px;
  max-height: 152px;
  margin: 0 auto 2rem;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px; /* or 106% */
  text-align: center;
  color: #FFFFFF;
}

.cover__subtitle {
  max-width: 360px;
  max-height: 66px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px; /* or 122% */
  text-align: center;
  color: #FFFFFF;
}


.footer{
  max-width: 1184px;
  margin: 0 auto;
}

.footer__content{
  display: flex;
  justify-content: space-between;
  padding: 92px 0 24px;
}

.footer__content-links{
  display: flex;
  list-style: none;
  padding: 0;
}

.footer__content-link{
  margin-right: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px; /* identical to box height, or 112% */
  color: #FFFFFF;
  text-decoration: none;
}

.footer__content-copyright{
  font-weight: 400;
  font-size: 14px;
  line-height: 16px; /* identical to box height, or 114% */
  text-align: right;
  color: #FFFFFF;
}
