.places__image {
  width: 100%;
  height: auto;
  max-width: 460px;
  min-width: 320px;
  object-fit: cover;
  align-self: left;
  grid-area: places__image;
}

@media screen and (max-width: 768px) {
  .places__image {
    max-width: 340px;
  }
}
