.footer__content-link {
  margin-right: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  color: #ffffff;
  text-decoration: none;
}


.footer__content-link:hover {
  opacity: .8;
}
