.intro__text {
  max-width: 690px;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #ffffff;
  padding: 0 0 44px;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1140px) {
  .intro__text {
    padding: 0 0 33px;
  }
}
