.footer__content-copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  text-align: right;
  color: #ffffff;
  margin: 16px 0;
  text-align: center;
}

@media screen and (max-width: 730px) {
  .footer__content-copyright {
    margin: 48px 0 0;
  }
}
