.places__paragraph-url {
  align-self: end;
  grid-area: places__paragraph-url;
}

@media screen and (max-width: 730px) {
  .places__paragraph-url {
    align-self: start;
  }
}

@media screen and (max-width: 400px) {
  .places__paragraph-url{
    padding: 0 16px;
    box-sizing: border-box;
  }
}
