.cover__title {
  max-width: 560px;
  min-width: 288px;
  margin: 0 auto 32px;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  color: #ffffff;
}


@media screen and (max-width: 620px) {
  .cover__title {
    margin: 0 auto 16px;
    font-size: 65px;
    line-height: 109%;
  }
}

@media screen and (max-width: 550px) {
  .cover__title {
    margin: 0 auto 16px;
    font-size: 40px;
    line-height: 109%;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    margin: 0 auto 16px;
    font-size: 32px;
    line-height: 109%;
  }
}


