.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin: 0 48px;
  box-sizing: border-box;
}

@media screen and (max-width: 984px) {
  .footer {
    margin: 0 24px;
  }
}

@media screen and (max-width: 720px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 578px) {
  .footer {
    margin-right: 16px;
  }
}
