.places__website {
  font-size: 18px;
  line-height: 122%;

  color: #ffffff;
  margin: 0;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.places__website:hover {
  cursor: pointer;
  opacity: 0.8;
}
